@{
    ViewBag.Title = "Index";
}
<style>
    label.error {
        color: red;
    }
</style>

<h2>Index</h2>

<form id="formExamplegg" method="post">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" id="txtNombre" name="txtNombre" placeholder="Ingrese Nombre" />
    </div>
    <div class="form-group">
        <label>Unico</label>
        <input type="text" id="txtUnico" name="txtUnico" placeholder="Ingrese Unico" />
    </div>
    <div class="form-group">
        <label>Condicion</label>
        <input type="text" id="txtCondicion" name="txtCondicion" placeholder="Ingrese Condicion">
    </div>
    <div class="form-group">
        <label>Fecha</label>
        <input type="text" id="txtFecha" name="txtFecha" placeholder="Ingrese Fecha" />
    </div>
    <div class="form-group">
        <label>Hora</label>
        <input type="text" id="txtHora" name="txtHora" placeholder="Ingrese Hora" />
    </div>
    <div class="form-group">
        <label>Numero</label>
        <input type="text" id="txtNumero" name="txtNumero" placeholder="Ingrese Numero" />
    </div>

    <!--<input type="submit" value="Guardar" id="btnSave" />-->
    <a href="#" id="btnSave">content</a>
</form>


<script src="~/assets/js/RegexPatterns.js"></script>
<script src="~/assets/js/TablaUno.js"></script>

